<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>HelloAlt1234</title>
</head>
<body>
<font size="8">
<hr>
<a href=/alt1 >{{ alt1 }} </a> &nbsp;
<a href=/alt1-common >{{ alt1_common }} </a> 
<hr>
<a href=/alt2 >{{ alt2 }} </a> &nbsp;
<a href=/alt2-common >{{ alt2_common }} </a> 
<hr>
<a href=/alt3 >{{ alt3 }} </a> &nbsp;
<a href=/alt3-common >{{ alt3_common }} </a> 
<hr>
<a href=/alt4 >{{ alt4 }} </a> &nbsp;
<a href=/alt4-common >{{ alt4_common }} </a> 
<hr>
<pre style="white-space: pre-wrap; word-wrap:break-word;">
{{ plan_endian }}
</pre>
<hr>
/all_rm
<hr>
</body>
</html>
